In [2]:
import pandas as pd
df = pd.read_csv("./test.csv")

In [3]:
df.drop(['Unnamed: 0', 'business_id', 'name', 'address', 'postal_code', 'attributes'], axis=1)

,city,state,latitude,longitude,stars,review_count,is_open,categories,hours
0,Kenner,LA,29.985568,-90.256119,2.0,116,0,"Restaurants, Cafes","{'Monday': '5:0-20:0', 'Tuesday': '5:0-20:0', ..."
1,Philadelphia,PA,39.950759,-75.174340,4.0,276,1,"Mexican, Tacos, Restaurants","{'Monday': '0:0-0:0', 'Tuesday': '11:0-20:30',..."
2,Pleasant View,TN,36.394216,-87.036669,4.5,18,0,"Restaurants, Japanese",NaN
3,Plant City,FL,27.989817,-82.120078,1.5,28,1,"Food, Tex-Mex, Restaurants, Mexican","{'Monday': '10:30-21:0', 'Tuesday': '10:30-21:..."
4,Gretna,LA,29.889222,-90.019323,4.0,29,1,"Seafood, Restaurants, Specialty Food, Sandwich...","{'Monday': '11:0-18:30', 'Tuesday': '11:0-18:3..."
...,...,...,...,...,...,...,...,...,...
195,Belleville,IL,38.524889,-90.033922,2.5,32,1,"Bars, American (Traditional), Chicken Wings, S...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ..."
196,Skippack,PA,40.233979,-75.401421,3.5,19,1,"Chinese, Restaurants","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
197,Royersford,PA,40.191707,-75.532174,4.5,29,1,"Street Vendors, Food Stands, Barbeque, Food, R...","{'Friday': '10:0-17:30', 'Saturday': '10:0-17:..."
198,Mount Juliet,TN,36.238336,-86.530633,3.5,44,1,"Mexican, Restaurants","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
199,Edmonton,AB,53.591938,-113.451883,4.5,10,0,"Halal, Caribbean, Event Planning & Services, A...","{'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21..."

<b>Nominal - State</b>

In [20]:
state_count = {}
for row in df['state']:
    if row in state_count:
        state_count.update({row: 1 + state_count.get(row)})
    else:
        state_count.update({row: 1})
print('State with most restaurants')
print(max(state_count), ': ', state_count.get(max(state_count)))

State with most restaurants
TN :  16

<b>Ordinal - Stars</b>

In [4]:
df['stars'].describe()

count    200.000000
mean       3.475000
std        0.804744
min        1.000000
25%        3.000000
50%        3.500000
75%        4.000000
max        5.000000
Name: stars, dtype: float64

<b>Interval - Hours</b>

<b>Ratio - Review Count</b>

In [21]:
df['review_count'].describe()

count     200.000000
mean      110.770000
std       542.918067
min         5.000000
25%        16.000000
50%        29.000000
75%        69.500000
max      7568.000000
Name: review_count, dtype: float64